@import '../../../styles/variables.scss';

.salary-table {
  font-size: 0.7rem;
  .salary-table__items {
    border-bottom: 1px solid $gray-lightest;
    margin-bottom: 16px;
    padding-bottom: 8px;
    .salary-table__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }
  .salary-table__summary {
    margin-bottom: 24px;
  }
  .salary-table__overall {
    > div {
      font-size: 1.6rem;
      line-height: 2rem;
      strong {
        color: $secondary-color;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .salary-table {
    font-size: 1rem;
    .salary-table__items {
      .salary-table__item {
        > span {
          display: block;
          &:last-child {
            font-size: 1rem;
          }
        }
      }
    }
    .salary-table__summary {
      font-size: 1rem;
    }
    .salary-table__overall {
      > div {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .salary-table {
    padding: min(8vw, 56px) min(7.5vw, 40px) min(12vw, 80px);
    .salary-table__items {
      .salary-table__item {
        display: flex;
        > span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .salary-table {
    .salary-table__items {
      .salary-table__item {
        display: flex;
        > span {
          font-size: 0.75rem;
          &:last-child {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}