html,
body {
  font-family: 'MuseoModerno', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

main {
  padding: 0 40px 40px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;

    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 18% 0%, rgba(243, 23, 23, 1) 0%, rgba(0, 36, 227, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 18% 0%, rgba(243, 23, 23, 1) 0%, rgba(0, 36, 227, 1) 100%);
    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 18% 0%, rgba(243, 23, 23, 1) 0%, rgba(0, 36, 227, 1) 100%);
    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 18% 0%, rgba(243, 23, 23, 1) 0%, rgba(0, 36, 227, 1) 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 18% 0%, rgba(243, 23, 23, 1) 0%, rgba(0, 36, 227, 1) 100%);
  }
}
