html {
  font-family: 'MuseoModerno', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  background: rgba(0, 36, 227, 1);
  background-image: radial-gradient(157.43% 106.74% at 29.93% -6.74%, #FF1717 0%, #6A00D5 72.54%, #0024E3 100%);
  /* ff 3.6+ */
  /* safari 5.1+,chrome 10+ */
  background-image:- radial-gradient(157.43% 106.74% at 29.93% -6.74%, #FF1717 0%, #6A00D5 72.54%, #0024E3 100%);
  /* opera 11.10+ */
  background-image: radial-gradient(157.43% 106.74% at 29.93% -6.74%, #FF1717 0%, #6A00D5 72.54%, #0024E3 100%);
  /* ie 10+ */
  background-image: radial-gradient(157.43% 106.74% at 29.93% -6.74%, #FF1717 0%, #6A00D5 72.54%, #0024E3 100%);
  /* global 92%+ browsers support */
  background-image: radial-gradient(157.43% 106.74% at 29.93% -6.74%, #FF1717 0%, #6A00D5 72.54%, #0024E3 100%);
}

html,
body {
  margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

#__next {
  height: 100%;
  overflow: scroll;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

main {
  padding: 0 56px 40px 40px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 540px) {
  main {
    padding: 0 min(7.5vw, 40px) 40px;
  }
}